@import './../../variables.scss';

.fh-heatmap {
  display: flex;
  margin: 0px 50px;
  padding: 0;
  position: relative;

  .heatmap-commentary-area {
    margin-top: 180px; // = indicator label height of heatmap
    display: flex;
    justify-content: center;
    // position: absolute;
  }
}
