$fh-lightblue: #3494af;
$fh-darkblue: #365f8a;
$fh-grid-color: #9a9a9f;
$fh-font-display: 'BenchNine', 'Teko', sans-serif;
$fh-font-primary: 'Lato', sans-serif;
$fh-color-label-selected: white;
$fh-path-selected-stroke: white; // #f08080; // #79ff26;
$fh-path-animated-color: white;
$fh-path-selected-stroke-width: 1;
// $fh-hr-path-stroke-color: rgb(44, 52, 61);
// $fh-hr-path-stroke-width: 0.5;
$fh-color-label-hover: white; // #f08080;
$fh-font-label-color: #a3aac2;
$fh-scatterplot-text-color: #777;
$fh-scatterplot-data-item-stroke: #232323;
$fh-scatterplot-grid-stroke-style: 1,5;
